In [1]:
import numpy as np
import pandas as pd
import joblib
import warnings
warnings.filterwarnings('ignore')

In [2]:
country = 'CHN'
model = joblib.load(f'models/{country}_model.pkl')
scaler = joblib.load(f'scalers/{country}_scaler.pkl')

In [3]:
main_data = pd.read_csv("combined_data.csv", index_col=[0, 1])

In [4]:
main_data

                    Inflation  Population           GDP      Export  \
Country Code Year
ABW          1980         NaN     59909.0           NaN         NaN
             1981         NaN     60563.0           NaN         NaN
             1982         NaN     61276.0           NaN         NaN
             1983         NaN     62228.0           NaN         NaN
             1984         NaN     62901.0           NaN         NaN
...                       ...         ...           ...         ...
ZWE          2017    0.893962  14812482.0  5.107466e+10  107.151887
             2018   10.618866  15034452.0  3.415607e+10  124.909506
             2019  255.304991  15271368.0  2.571741e+10  131.425343
             2020  557.201817  15526888.0  2.686794e+10  135.325610
             2021   98.546105  15797210.0  2.724052e+10  185.806800

                       Import
Country Code Year
ABW          1980         NaN
             1981         NaN
             1982         NaN
             1983         NaN
             1984         NaN
...                       ...
ZWE          2017   83.660837
             2018  105.579357
             2019   79.585840
             2020   82.633621
             2021  118.756526

[7686 rows x 5 columns]

In [5]:
country_data = main_data.loc['CHN']
country_data

      Inflation    Population           GDP      Export      Import
Year
1980        NaN  9.812350e+08  1.911492e+11    0.796110    1.186920
1981        NaN  9.938850e+08  1.958664e+11    0.967993    1.310348
1982        NaN  1.008630e+09  2.050897e+11    0.981804    1.147856
1983        NaN  1.023310e+09  2.306867e+11    0.977625    1.273147
1984        NaN  1.036825e+09  2.599465e+11    1.149741    1.631462
1985        NaN  1.051040e+09  3.094880e+11    1.203008    2.514868
1986        NaN  1.066790e+09  3.007581e+11    1.361004    2.553675
1987   7.233836  1.084035e+09  2.729730e+11    1.734663    2.572245
1988  18.811818  1.101630e+09  3.123536e+11    2.090023    3.289589
1989  18.245638  1.118650e+09  3.477681e+11    2.310919    3.520053
1990   3.052290  1.135185e+09  3.608579e+11    2.731114    3.175130
1991   3.556686  1.150780e+09  3.833733e+11    3.163009    3.796883
1992   6.353981  1.164970e+09  4.269157e+11    3.736142    4.796474
1993  14.610079  1.178440e+09  4.447313e+11    4.035421    6.187710
1994  24.256990  1.191835e+09  5.643219e+11    5.322529    6.881423
1995  16.791225  1.204855e+09  7.344848e+11    6.544187    7.863877
1996   8.313160  1.217550e+09  8.637493e+11    6.643947    8.272554
1997   2.786465  1.230075e+09  9.616020e+11    8.040228    8.465818
1998  -0.773186  1.241935e+09  1.029061e+12    8.080694    8.353646
1999  -1.401473  1.252735e+09  1.094004e+12    8.574170    9.870883
2000   0.347811  1.262645e+09  1.211332e+12   10.961359   13.397747
2001   0.719126  1.271850e+09  1.339401e+12   11.704497   14.500948
2002  -0.731971  1.280400e+09  1.470558e+12   14.321556   17.574183
2003   1.127603  1.288400e+09  1.660281e+12   19.275750   24.575396
2004   3.824637  1.296075e+09  1.955347e+12   26.097838   33.415120
2005   1.776414  1.303720e+09  2.285961e+12   33.515009   39.293067
2006   1.649431  1.311020e+09  2.752119e+12   42.621141   47.122947
2007   4.816768  1.317885e+09  3.550328e+12   53.682568   56.926373
2008   5.925251  1.324655e+09  4.594337e+12   62.929982   67.432122
2009  -0.728165  1.331260e+09  5.101691e+12   52.853702   59.891841
2010   3.175325  1.337705e+09  6.087192e+12   69.398558   83.131416
2011   5.553899  1.345035e+09  7.551546e+12   83.501549  103.805626
2012   2.619524  1.354190e+09  8.532185e+12   90.114046  108.266362
2013   2.621050  1.363240e+09  9.570471e+12   97.164552  116.100826
2014   1.921642  1.371860e+09  1.047562e+13  103.027313  116.651147
2015   1.437024  1.379860e+09  1.106157e+13  100.000000  100.000000
2016   2.000002  1.387790e+09  1.123331e+13   92.265737   94.543769
2017   1.593136  1.396215e+09  1.231049e+13   99.554777  109.777883
2018   2.074790  1.402760e+09  1.389491e+13  109.378931  127.160707
2019   2.899234  1.407745e+09  1.427997e+13  109.940276  123.745444
2020   2.419422  1.411100e+09  1.468774e+13  113.920741  123.005800
2021   0.981015  1.412360e+09  1.782046e+13  147.960521  160.079062

In [6]:
country_data = country_data.dropna()

In [7]:
features_columns = ['Population', 'Inflation', 'Import', 'Export']  
country_data[features_columns] = scaler.transform(country_data[features_columns])

In [8]:
country_data

      Inflation  Population           GDP    Export    Import
Year
1987   0.270563   -1.830679  2.729730e+11 -0.898303 -0.908156
1988   2.022967   -1.657325  3.123536e+11 -0.890564 -0.893966
1989   1.937272   -1.489637  3.477681e+11 -0.885753 -0.889407
1990  -0.362342   -1.326727  3.608579e+11 -0.876601 -0.896230
1991  -0.285998   -1.173079  3.833733e+11 -0.867194 -0.883931
1992   0.137391   -1.033273  4.269157e+11 -0.854712 -0.864157
1993   1.387006   -0.900561  4.447313e+11 -0.848194 -0.836636
1994   2.847130   -0.768587  5.643219e+11 -0.820161 -0.822913
1995   1.717137   -0.640309  7.344848e+11 -0.793553 -0.803478
1996   0.433926   -0.515232  8.637493e+11 -0.791381 -0.795394
1997  -0.402576   -0.391831  9.616020e+11 -0.760970 -0.791571
1998  -0.941353   -0.274981  1.029061e+12 -0.760089 -0.793790
1999  -1.036448   -0.168575  1.094004e+12 -0.749341 -0.763776
2000  -0.771682   -0.070937  1.211332e+12 -0.697349 -0.694009
2001  -0.715482    0.019754  1.339401e+12 -0.681164 -0.672185
2002  -0.935115    0.103992  1.470558e+12 -0.624165 -0.611391
2003  -0.653656    0.182812  1.660281e+12 -0.516264 -0.472895
2004  -0.245442    0.258429  1.955347e+12 -0.367681 -0.298029
2005  -0.555454    0.333751  2.285961e+12 -0.206138 -0.181753
2006  -0.574674    0.405673  2.752119e+12 -0.007809 -0.026864
2007  -0.095276    0.473310  3.550328e+12  0.233105  0.167065
2008   0.072500    0.540011  4.594337e+12  0.434511  0.374888
2009  -0.934539    0.605086  5.101691e+12  0.215053  0.225728
2010  -0.343720    0.668585  6.087192e+12  0.575394  0.685448
2011   0.016293    0.740804  7.551546e+12  0.882553  1.094421
2012  -0.427844    0.831003  8.532185e+12  1.026571  1.182662
2013  -0.427613    0.920167  9.570471e+12  1.180128  1.337642
2014  -0.533473    1.005095  1.047562e+13  1.307817  1.348528
2015  -0.606823    1.083914  1.106157e+13  1.241883  1.019139
2016  -0.521613    1.162044  1.123331e+13  1.073434  0.911205
2017  -0.583194    1.245051  1.231049e+13  1.232187  1.212563
2018  -0.510293    1.309535  1.389491e+13  1.446153  1.556426
2019  -0.385508    1.358649  1.427997e+13  1.458379  1.488866
2020  -0.458130    1.391704  1.468774e+13  1.545073  1.474235
2021  -0.675843    1.404118  1.782046e+13  2.286448  2.207610

# Counterfactual explanation

In [9]:
import dice_ml
from dice_ml.utils import helpers

In [30]:
feature_names = ['Population', 'Inflation', 'Import', 'Export']

mean_dict = dict(zip(feature_names, scaler.mean_))
std_dict = dict(zip(feature_names, scaler.scale_))

original_ranges = {
    'Import': (155, 165),
    'Export': (145, 150),
    'Inflation': (-5, 5),
}

permitted_range_scaled = {
    feature: [(value - mean_dict[feature]) / std_dict[feature] for value in original_ranges[feature]]
    for feature in original_ranges
}

In [31]:
permitted_range_scaled

{'Import': [2.1071370343698477, 2.3049549094442856],
 'Export': [2.221968589419226, 2.330866944347459],
 'Inflation': [-1.5811091332849954, -0.06754291551436838]}

In [32]:
import dice_ml
from dice_ml.utils import helpers

d = dice_ml.Data(dataframe=country_data, continuous_features=['Population', 'Inflation', 'Import', 'Export'], outcome_name='GDP')

m = dice_ml.Model(model=model, backend='sklearn', model_type='regressor') 

exp = dice_ml.Dice(d, m)

query_instance = country_data.drop(columns="GDP").loc[2021:2021]


desired_range = [1.8e+13, 2e+13]  

features_to_vary = ['Inflation', 'Import', 'Export']

dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=10, 
                                        permitted_range=permitted_range_scaled,
                                        features_to_vary=features_to_vary,
                                        desired_range=desired_range)

dice_exp.visualize_as_dataframe(show_only_changes=True)

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  4.97it/s]

Query instance (original outcome : 17878617161728.0)

   Inflation  Population    Export   Import           GDP
0  -0.675843    1.404118  2.286448  2.20761  1.787862e+13

Diverse Counterfactual set (new outcome: [18000000000000.0, 20000000000000.0])

      Inflation Population       Export       Import GDP
0             -          -            -  2.225992308   -
1             -          -            -  2.299747729   -
2  -1.474834478          -            -            -   -
3  -1.259250942          -  2.281478594            -   -
4  -0.827286232          -  2.229018962            -   -
5  -1.520726561          -            -            -   -
6             -          -            -    2.2532115   -
7             -          -            -  2.290765625   -
8   -1.10750032          -  2.259873404            -   -
9             -          -   2.24223565  2.248970666   -

In [26]:
cf_df = dice_exp.cf_examples_list[0].final_cfs_df

In [27]:
cf_df

   Inflation  Population    Export    Import           GDP
0  -1.209405    1.404118  2.286448  2.222665  1.824237e+13
1  -0.585148    1.404118  2.286448  2.238369  1.808021e+13
2  -0.675843    1.404118  2.286448  2.288894  1.852128e+13
3  -1.437965    1.404118  2.286448  2.207610  1.822818e+13
4  -1.498892    1.404118  2.286448  2.207610  1.825612e+13
5  -1.410192    1.404118  2.286448  2.207610  1.821544e+13
6  -0.675843    1.404118  2.286448  2.266295  1.834260e+13
7  -1.215775    1.404118  2.275520  2.207610  1.814873e+13
8  -1.508216    1.404118  2.317118  2.207610  1.819735e+13
9  -1.153526    1.404118  2.308980  2.207610  1.805139e+13

In [28]:
cf_df[features_columns] = scaler.inverse_transform(cf_df[features_columns])

In [29]:
cf_df

   Inflation    Population      Export      Import           GDP
0  -2.544181  1.412360e+09  147.960521  160.840119  1.824237e+13
1   1.580230  1.412360e+09  147.960521  161.634001  1.808021e+13
2   0.981015  1.412360e+09  147.960521  164.188088  1.852128e+13
3  -4.054260  1.412360e+09  147.960521  160.079062  1.822818e+13
4  -4.456796  1.412360e+09  147.960521  160.079062  1.825612e+13
5  -3.870768  1.412360e+09  147.960521  160.079062  1.821544e+13
6   0.981015  1.412360e+09  147.960521  163.045682  1.834260e+13
7  -2.586271  1.412360e+09  147.458780  160.079062  1.814873e+13
8  -4.518404  1.412360e+09  149.368705  160.079062  1.819735e+13
9  -2.174993  1.412360e+09  148.995066  160.079062  1.805139e+13

In [17]:
main_data.loc[('CHN', 2021)]

Inflation     9.810151e-01
Population    1.412360e+09
GDP           1.782046e+13
Export        1.479605e+02
Import        1.600791e+02
Name: (CHN, 2021), dtype: float64

In [18]:
cf_df.to_csv('counterfactuals.csv', index=False)