In [1]:
import numpy as np
import pandas as pd
import joblib
import warnings
warnings.filterwarnings('ignore')

In [2]:
country = 'ESP'
model = joblib.load(f'models/{country}_model.pkl')
scaler = joblib.load(f'scalers/{country}_scaler.pkl')


new_data = {
    'Population' : 50e6, 
    'Inflation' : 3.5, 
    'Import' : 110,
    'Export' : 105
}

df = pd.DataFrame([new_data])

In [3]:
df

   Population  Inflation  Import  Export
0  50000000.0        3.5     110     105

In [4]:
df_scaled = df.copy()
features_columns = ['Population', 'Inflation', 'Import', 'Export']
df_scaled[features_columns] = scaler.transform(df_scaled[features_columns])

In [5]:
df

   Population  Inflation  Import  Export
0  50000000.0        3.5     110     105

In [6]:
df_scaled

   Population  Inflation   Import    Export
0     1.89807   1.164728  0.61714  0.645826

In [7]:
predicted_gdp = model.predict(df_scaled)

In [8]:
predicted_gdp

array([1.63531436e+12])

In [9]:
df_scaled['GDP'] = predicted_gdp
df_scaled

   Population  Inflation   Import    Export           GDP
0     1.89807   1.164728  0.61714  0.645826  1.635314e+12

In [10]:
df_original = df_scaled.copy()
df_original[features_columns] = scaler.inverse_transform(df_scaled[features_columns])
df_original

   Population  Inflation  Import  Export           GDP
0  50000000.0        3.5   110.0   105.0  1.635314e+12

#### Test

In [11]:
new_data = {
    'Population' :1.013177, 
    'Inflation' : 0.859168, 
    'Import' : 1.345899,
    'Export' : 1.551466
}
df = pd.DataFrame([new_data])

In [12]:
predicted_gdp = model.predict(df)

In [13]:
predicted_gdp

array([1.45076139e+12])