# Concatenate all data

In [1]:
import pandas as pd

In [2]:
df_inflation = pd.read_csv("inflation_preprocessed.csv", index_col=['Country Code', 'Year'])
df_population = pd.read_csv("population_preprocessed.csv", index_col=['Country Code', 'Year'])
df_gdp = pd.read_csv("gdp_preprocessed.csv", index_col=['Country Code', 'Year'])
df_export = pd.read_csv("export_preprocessed.csv", index_col=['Country Code', 'Year'])
df_import = pd.read_csv("import_preprocessed.csv", index_col=['Country Code', 'Year'])


df_combined = pd.concat([df_inflation, df_population, df_gdp, df_export, df_import], axis=1)

print(df_combined.head())

                   Inflation  Population  GDP  Export  Import
Country Code Year
ABW          1960        NaN     54922.0  NaN     NaN     NaN
             1961        NaN     55578.0  NaN     NaN     NaN
             1962        NaN     56320.0  NaN     NaN     NaN
             1963        NaN     57002.0  NaN     NaN     NaN
             1964        NaN     57619.0  NaN     NaN     NaN

In [3]:
df_combined

                    Inflation  Population           GDP      Export  \
Country Code Year
ABW          1960         NaN     54922.0           NaN         NaN
             1961         NaN     55578.0           NaN         NaN
             1962         NaN     56320.0           NaN         NaN
             1963         NaN     57002.0           NaN         NaN
             1964         NaN     57619.0           NaN         NaN
...                       ...         ...           ...         ...
ZWE          2019  255.304991  15271368.0  2.571741e+10  131.425343
             2020  557.201817  15526888.0  2.686794e+10  135.325610
             2021   98.546105  15797210.0  2.724052e+10  185.806800
             2022  104.705171  16069056.0  3.278975e+10         NaN
             2023         NaN  16340822.0  3.523137e+10         NaN

                       Import
Country Code Year
ABW          1960         NaN
             1961         NaN
             1962         NaN
             1963         NaN
             1964         NaN
...                       ...
ZWE          2019   79.585840
             2020   82.633621
             2021  118.756526
             2022         NaN
             2023         NaN

[17024 rows x 5 columns]

In [4]:
df_combined.index.get_level_values('Country Code').isin

<bound method Index.isin of Index(['ABW', 'ABW', 'ABW', 'ABW', 'ABW', 'ABW', 'ABW', 'ABW', 'ABW', 'ABW',
       ...
       'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE', 'ZWE'],
      dtype='object', name='Country Code', length=17024)>

In [5]:
country_codes_to_remove = [
 'AFE',
 'AFW',
 'AND',
 'ARB',
 'ARG',
 'ASM',
 'BMU',
 'CEB',
 'CHE',
 'CHI',
 'CSS',
 'CUB',
 'EAP',
 'EAR',
 'EAS',
 'ECA',
 'ECS',
 'EMU',
 'ERI',
 'EUU',
 'FCS',
 'FRO',
 'GIB',
 'GRL',
 'GUM',
 'HIC',
 'HPC',
 'IBD',
 'IBT',
 'IDA',
 'IDB',
 'IDX',
 'IMN',
 'INX',
 'LAC',
 'LCN',
 'LDC',
 'LIC',
 'LIE',
 'LMC',
 'LMY',
 'LTE',
 'MAF',
 'MCO',
 'MEA',
 'MHL',
 'MIC',
 'MNA',
 'MNE',
 'MNP',
 'NAC',
 'OED',
 'OSS',
 'PRE',
 'PRI',
 'PRK',
 'PSS',
 'PST',
 'PYF',
 'SAS',
 'SMR',
 'SOM',
 'SSA',
 'SSD',
 'SSF',
 'SST',
 'SXM',
 'TCA',
 'TEA',
 'TEC',
 'TKM',
 'TLA',
 'TLS',
 'TMN',
 'TSA',
 'TSS',
 'TUV',
 'UMC',
 'VEN',
 'VGB',
 'VIR',
 'WLD',
 'XKX']

In [6]:
years_to_remove = [
  1960 ,
  1961 ,
  1962 ,
  1963 ,
  1964 ,
  1965 ,
  1966 ,
  1967 ,
  1968 ,
  1969 ,
  1970 ,
  1971 ,
  1972 ,
  1973 ,
  1974 ,
  1975 ,
  1976 ,
  1977 ,
  1978 ,
  1979 ,
  2022 ,
  2023]

In [7]:
mask = ~((df_combined.index.get_level_values('Country Code').isin(country_codes_to_remove)) | 
         (df_combined.index.get_level_values('Year').isin(years_to_remove)))

In [8]:
len(mask)

17024

In [9]:
x = mask[mask == False]
y = mask[mask == True]

In [10]:
print(len(x))
print(len(y))

9338
7686

In [11]:
len(df_combined)

17024

In [12]:
df_combined = df_combined[mask]

In [13]:
len(df_combined)

7686

In [14]:
df_combined.to_csv('combined_data.csv')