In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('Data.csv', index_col = [0,1])
data

                       ED  Expenditure   Irate  Population        Tax  \
Country Year
Austria 1994   849432.583    55.486122  6.8167   7928746.0  43.985937
        1995   882550.058    56.000000  7.1067   7943489.0  43.100000
        1996   961798.352    56.000000  5.1067   7953067.0  44.600000
        1997   950097.615    52.700000  4.4192   7964966.0  45.300000
        1998   971582.690    52.600000  3.9058   7971116.0  45.300000
...                   ...          ...     ...         ...        ...
Spain   2019  3641677.147    42.000000 -0.2173  46918951.0  35.200000
        2020  3288511.875    51.400000 -0.3057  47318050.0  37.300000
        2021  3542616.185    49.500000 -0.4906  47400798.0  38.100000
        2022  3472923.261    46.400000  1.0997  47486843.0  37.500000
        2023  3443773.026    45.400000  3.8647  48085361.0  37.000000

                    Trade     total_GDP  First_sector_GDP  Second_sector_GDP  \
Country Year
Austria 1994  -3065.82896  2.266910e+05       3907.513358       71868.968786
        1995  -2194.40000  2.317566e+05       3953.600000       72896.200000
        1996  -2963.70000  2.358265e+05       3979.300000       73911.900000
        1997  -1524.50000  2.409679e+05       4124.600000       74842.400000
        1998   -439.00000  2.500770e+05       4287.400000       77009.900000
...                   ...           ...               ...                ...
Spain   2019  37422.00000  1.156624e+06      34628.000000      255352.000000
        2020  17118.00000  1.030964e+06      33937.000000      224699.000000
        2021  12226.00000  1.095737e+06      36942.000000      232756.000000
        2022  12125.00000  1.169148e+06      31335.000000      244955.000000
        2023  58836.00000  1.202872e+06      31711.000000      247792.000000

              Third_sector_GDP  total_Investment  First_sector_Inv  \
Country Year
Austria 1994     150914.504962      67181.739793       2457.712241
        1995     154906.800000      67618.700000       2359.800000
        1996     157935.300000      69879.600000       2571.100000
        1997     162000.900000      70218.700000       2852.500000
        1998     168779.700000      72571.000000       2600.700000
...                        ...               ...               ...
Spain   2019     866644.000000     255620.000000       6551.000000
        2020     772328.000000     232798.000000       5951.000000
        2021     826039.000000     238933.000000       6444.000000
        2022     892858.000000     246705.000000       6035.000000
        2023     923369.000000     251977.000000       6370.524463

              Second_sector_Inv  Third_sector_Inv
Country Year
Austria 1994       14845.832899      49878.194653
        1995       14795.000000      50463.900000
        1996       15755.700000      51552.800000
        1997       16539.600000      50826.600000
        1998       16308.900000      53661.400000
...                         ...               ...
Spain   2019       67392.000000     181677.000000
        2020       57766.000000     169081.000000
        2021       53513.000000     178976.000000
        2022       55474.000000     185196.000000
        2023       58563.038791     188189.296236

[600 rows x 14 columns]

In [5]:
df_firstSector = data.drop(columns = ['Second_sector_GDP', 'Third_sector_GDP', 'total_GDP', 'total_Investment', 'Second_sector_Inv', 'Third_sector_Inv'])

In [6]:
df = df_firstSector.copy()

In [7]:
df

                       ED  Expenditure   Irate  Population        Tax  \
Country Year
Austria 1994   849432.583    55.486122  6.8167   7928746.0  43.985937
        1995   882550.058    56.000000  7.1067   7943489.0  43.100000
        1996   961798.352    56.000000  5.1067   7953067.0  44.600000
        1997   950097.615    52.700000  4.4192   7964966.0  45.300000
        1998   971582.690    52.600000  3.9058   7971116.0  45.300000
...                   ...          ...     ...         ...        ...
Spain   2019  3641677.147    42.000000 -0.2173  46918951.0  35.200000
        2020  3288511.875    51.400000 -0.3057  47318050.0  37.300000
        2021  3542616.185    49.500000 -0.4906  47400798.0  38.100000
        2022  3472923.261    46.400000  1.0997  47486843.0  37.500000
        2023  3443773.026    45.400000  3.8647  48085361.0  37.000000

                    Trade  First_sector_GDP  First_sector_Inv
Country Year
Austria 1994  -3065.82896       3907.513358       2457.712241
        1995  -2194.40000       3953.600000       2359.800000
        1996  -2963.70000       3979.300000       2571.100000
        1997  -1524.50000       4124.600000       2852.500000
        1998   -439.00000       4287.400000       2600.700000
...                   ...               ...               ...
Spain   2019  37422.00000      34628.000000       6551.000000
        2020  17118.00000      33937.000000       5951.000000
        2021  12226.00000      36942.000000       6444.000000
        2022  12125.00000      31335.000000       6035.000000
        2023  58836.00000      31711.000000       6370.524463

[600 rows x 8 columns]

In [9]:
# Group your dataset by Country
grouped = data.groupby(level=0)  # level 0 = Country

In [11]:
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000219D1CBF9E0>

In [16]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm

# List of features you want to check
features = ['ED', 'Expenditure', 'Irate', 'Population', 'Tax', 'Trade', 'First_sector_GDP', 'First_sector_Inv']

# Store results
vif_by_country = {}

for country, group in grouped:
    X = group[features]
    
    vif = pd.DataFrame()
    vif["Feature"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    
    vif_by_country[country] = vif

In [20]:
print(vif_by_country['Luxembourg'])

            Feature          VIF
0                ED   124.748582
1       Expenditure   837.284758
2             Irate     9.030520
3        Population  4942.346465
4               Tax  3288.478865
5             Trade   380.146677
6  First_sector_GDP    99.042837
7  First_sector_Inv    13.846213

In [18]:
summary = pd.DataFrame({
    country: vif.set_index("Feature")["VIF"] 
    for country, vif in vif_by_country.items()
})

In [19]:
summary

,Austria,Belgium,Croatia,Cyprus,Denmark,Estonia,Finland,France,Germany,Greece,Ireland,Italy,Latvia,Lithuania,Luxembourg,Netherlands,Portugal,Slovakia,Slovenia,Spain
Feature,,,,,,,,,,,,,,,,,,,,
ED,774.195313,1153.913799,1147.319161,488.930714,1984.431927,175.596803,1038.873273,727.772993,841.770361,601.083865,236.416377,660.738856,688.171049,166.861911,124.748582,809.214210,614.385660,889.767074,350.880596,584.243073
Expenditure,795.802618,1033.838962,699.627023,210.473363,444.633376,767.851514,505.022827,1350.720007,757.354570,461.438657,43.409594,723.995568,195.794482,163.480144,837.284758,443.298739,1359.684465,234.619614,550.476775,530.977214
Irate,5.460977,7.218181,10.991135,5.924677,5.637871,7.756632,7.119968,4.916336,9.933850,10.784678,13.009607,3.727371,12.041587,11.743445,9.030520,4.840676,14.918374,5.557833,8.466738,5.513396
Population,1565.616450,2935.157577,3191.810931,714.395981,3221.765182,1074.445818,5163.723212,5595.465945,4971.458875,3022.513995,568.707947,6338.666742,637.871020,221.402547,4942.346465,3772.195161,9645.423946,1405.916868,4415.766502,2072.525808
Tax,1025.210721,4080.995497,1623.338228,508.499458,1574.889588,2786.357088,1777.164692,3368.210971,2495.959508,536.399618,137.165103,5169.693055,473.499794,396.833427,3288.478865,1887.823966,2769.092454,300.498819,3187.541015,440.865945
Trade,11.022251,4.458285,6.268868,3.010635,44.372614,2.308257,7.680638,7.831250,26.338114,24.095510,7.845213,2.804096,4.984451,2.150147,380.146677,56.096098,14.769164,1.990420,8.129287,5.745775
First_sector_GDP,447.977867,358.645082,324.901618,62.715389,87.037477,41.408584,470.008694,430.377493,323.302691,414.319941,88.057183,1213.719375,216.444128,338.297602,99.042837,854.116062,1070.525290,51.019202,334.145219,504.772385
First_sector_Inv,189.500655,110.908197,39.060391,6.255580,73.314686,20.315031,62.360732,285.773717,188.849922,69.850804,31.656889,117.170001,28.912481,42.848941,13.846213,108.228731,241.507069,35.069665,157.096406,108.916856

In [32]:
summary.to_csv('VIF_Test.csv')

In [29]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RidgeCV, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

# === Step 1: Define your target and predictors ===
target = 'First_sector_GDP'
features = ['ED', 'Expenditure', 'Irate', 'Population', 'Tax', 'Trade', 'First_sector_Inv']

# === Step 2: Define alpha range to search ===
alphas = np.logspace(-4, 4, 100)

# === Step 3: Initialize results dictionary ===
results = {}

# === Step 4: Loop through each country ===
for country, group in df.groupby(level=0):  # df must be a MultiIndex with (Country, Year)
    print(f"\nüîç Processing country: {country}")
    
    group = group.dropna()

    if len(group) < len(features) + 1:
        print("‚ö†Ô∏è Not enough data to train the model.")
        continue

    X = group[features].copy()
    y = group[target]

    # === Step 5: Scale predictors ===
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)

    # === Step 6: Split into train and test sets ===
    X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

    # === Step 7: RidgeCV to find best alpha ===
    ridge_cv = RidgeCV(alphas=alphas, store_cv_values=True)
    ridge_cv.fit(X_train, y_train)
    best_alpha = ridge_cv.alpha_

    # === Step 8: Fit final Ridge model with best alpha ===
    final_model = Ridge(alpha=best_alpha)
    final_model.fit(X_train, y_train)

    # === Step 9: Make predictions ===
    y_train_pred = final_model.predict(X_train)
    y_test_pred = final_model.predict(X_test)

    # === Step 10: Calculate metrics ===
    train_r2 = final_model.score(X_train, y_train)
    test_r2 = final_model.score(X_test, y_test)
    train_mse = mean_squared_error(y_train, y_train_pred)
    test_mse = mean_squared_error(y_test, y_test_pred)

    # === Step 11: Store results ===
    results[country] = {
        "Best Alpha": best_alpha,
        "Train R¬≤": train_r2,
        "Test R¬≤": test_r2,
        "Train MSE": train_mse,
        "Test MSE": test_mse
    }

# === Step 12: Convert results to a summary DataFrame ===
summary_df = pd.DataFrame.from_dict(results, orient='index').reset_index()
summary_df = summary_df.rename(columns={'index': 'Country'})

# === Step 13: Show the summary (optional: save it) ===
print("\nüìä Ridge Regression Summary:")
print(summary_df)

# Optional: Save the summary to a CSV file
# summary_df.to_csv("ridge_summary_per_country.csv", index=False)

üîç Processing country: Austria

üîç Processing country: Belgium

üîç Processing country: Croatia

üîç Processing country: Cyprus

üîç Processing country: Denmark

üîç Processing country: Estonia

üîç Processing country: Finland

üîç Processing country: France

üîç Processing country: Germany

C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(

üîç Processing country: Greece

üîç Processing country: Ireland

üîç Processing country: Italy

üîç Processing country: Latvia

üîç Processing country: Lithuania

üîç Processing country: Luxembourg

üîç Processing country: Netherlands

üîç Processing country: Portugal

üîç Processing country: Slovakia

üîç Processing country: Slovenia

C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(
C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(

üîç Processing country: Spain

üìä Ridge Regression Summary:
        Country  Best Alpha  Train R¬≤   Test R¬≤     Train MSE      Test MSE
0       Austria    8.497534  0.876528  0.389593  3.115130e+04  1.447314e+05
1       Belgium    4.862602  0.895648  0.709118  2.435880e+04  3.723379e+04
2       Croatia    0.141747  0.948462  0.712235  4.307366e+03  3.623578e+04
3        Cyprus    0.521401  0.902841  0.770069  1.085777e+03  3.093003e+03
4       Denmark    0.521401  0.767077  0.660211  6.248939e+05  1.100696e+06
5       Estonia   12.328467  0.769652  0.251208  8.747964e+03  1.424208e+04
6       Finland    4.037017  0.799428  0.779251  6.649509e+04  9.177600e+04
7        France   31.257158  0.250459 -0.005121  2.367923e+06  5.586269e+06
8       Germany   45.348785  0.344635  0.073461  3.753657e+06  3.202528e+06
9        Greece    2.310130  0.813859  0.554420  1.588236e+05  2.943908e+05
10      Ireland    7.054802  0.724942  0.785765  1.152459e+05  1.361522e+05
11        Italy    5.857021  0.670414 -0.664053  6.640414e+05  1.815423e+06
12       Latvia    2.782559  0.940749  0.762579  3.053382e+03  5.615606e+03
13    Lithuania    0.067342  0.789162  0.201148  4.412699e+03  1.688696e+04
14   Luxembourg    2.310130  0.911106  0.717748  3.640486e+02  8.269524e+02
15  Netherlands    1.097499  0.879452  0.782748  3.822009e+05  7.174680e+05
16     Portugal   12.328467  0.679663  0.157073  1.060205e+04  1.570716e+04
17     Slovakia    7.054802  0.809670  0.562064  3.140946e+04  5.965076e+04
18     Slovenia   25.950242  0.358802  0.079623  1.839260e+03  3.987289e+03
19        Spain   10.235310  0.796424  0.575083  1.839414e+06  2.631340e+06

C:\Users\Hossein Ahmadi\Desktop\Projects\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:2385: FutureWarning: 'store_cv_values' is deprecated in version 1.5 and will be removed in 1.7. Use 'store_cv_results' instead.
  warnings.warn(

In [30]:
summary_df.to_csv("ridge_summary_per_country.csv", index=False)